*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    padding: 3rem;
    box-sizing: border-box;
}

/* 
    Não é uma boa prática alterar o tamanho da fonte manualmente, pois isso impede o usuário de alterar o tamanho da fonte pelo browser.
    Ao inves disso, colocamos uma porcentagem que expresse o valor em pixel que queremos para a font-size

    Default do browser é 16px
    Porém queremos uma fonte de 10px
    Sendo assim, fazemos uma regra de três x = 100 * 10/16 = 62.5

    Por que queremos uma font-size de 10px?
    Simples, queremos isso para que 1rem seja igual a 10px, dessa forma podemos mudar todas as unidades do nosso estilo para rem.
    Quando o tamanho da fonte for alterado, todas as medidas do site serão alteradas junto com ele, fazendo assim com que o site seja responsivo 
    sem precisar criar varios media query
*/